.mainDiv{
	margin-left: 5vw;
	margin-top: 6vw;
}
.leftWindow{
width: 50%;
border-radius: 3px;
position: relative;
z-index: 1;
}
.upCloud{
	width: 25vw;
  z-index: 0;
  top: 3vw;
right:-3vw;
  position: absolute;
}
.mainText{
font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 3.2vw;
line-height: 1;
color: #363130;
text-transform: none;
}
.mainMinText{
margin-top: 2vw;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 1.5vw;
line-height: 1;
color: #000000;
}
.reword{
	width: 10vw;
	right: -5vw;
	position: absolute;
}
.titlePocoWindow{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 2.5vw;
line-height: 1;
color: #319F1C;
}
.textPocoWindow{
margin-top: 2vw;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #000000;
margin-bottom: 2vw;
}
.pocoWindow{
z-index: 1;
margin-top: 3vw;
padding: 2vw;
background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
border-radius: 3px;
}
.inputsWindow{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.inputsGoriz{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.inputsGoriz >*{
		z-index: 1;
padding-left: 2vw;
box-sizing: border-box;
width: 90%;
height: 40px;
border: 1px solid #319F1C;
border-radius: 3px;
}
.send{
text-align: center;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
width: 90%;
height: 40px;
background: #319F1C;
border-radius: 3px;
}

.divFoto{
top: -15vw;
right: 0;
position: absolute;
z-index: -1;
width: 55vw;
height: 90vw;
background: linear-gradient(90deg, #FFFFFF 0.87%, 
rgba(255, 255, 255, 0.78) 8.72%, rgba(255, 255, 255, 0.68) 16.27%, 
rgba(255, 255, 255, 0) 30.03%, rgba(255, 255, 255, 0) 96.77%), linear-gradient(180deg, #FFFFFF 0%, 
rgba(255, 255, 255, 0.96) 15.42%, rgba(255, 255, 255, 0) 33.51%, rgba(255, 255, 255, 0) 84.41%, #FFFFFF 99.78%)
}
.bigCloud{
	left: -3vw;
	width: 60vw;
	top: 22vw;
	position: absolute;
	z-index: -1;
}

@media(max-width:1000px){
	.mainDiv{
	margin-top: 8vw;
}
	.mainMinText{
	font-size: 3vw;
	}
  .item{
    font-size: 2.5vw;
  }
}
@media(max-width:800px){
	.mainDiv{
	margin-top: 10vw;
}}